@{
    ViewData["Title"] = "Ministério de louvor - lista de músicas";
}

<style type="text/css">
    select {
        font-size: 20px;
        width: 176px;
        height: 100%;
        padding: 15px;
        float: right;
    }

    option {
        font-size: 10pt;
        padding: 10 10 10 10;
        float: left;
        cursor: pointer;
    }

    span {
        float: left;
    }
</style>

<span id='video'>&nbsp;</span>

<select onChange="troca(this.options[this.selectedIndex].value);" size="4">
    <option value="https://www.youtube.com/embed/iZUojirTEgM" style="background-image: url(https://img.youtube.com/vi/iZUojirTEgM/default.jpg); background-repeat: no-repeat; padding-left: 10px; width:120px; height:90px;">stop-motion 1</option>
    <option value="https://www.youtube.com/embed/ZEOmtEyXJtU" style="background-image: url(https://img.youtube.com/vi/ZEOmtEyXJtU/default.jpg); background-repeat: no-repeat; padding-left: 10px; width:120px; height:90px;">stop-motion 2</option>
    <option value="https://www.youtube.com/embed/GSzCLf8tjP4" style="background-image: url(https://img.youtube.com/vi/GSzCLf8tjP4/default.jpg); background-repeat: no-repeat; padding-left: 10px; width:120px; height:90px;">stop-motion 3</option>
</select>

<script type="text/javascript">
    $(document).ready(function() 
    {
        troca = function(link) 
        {
            $("#video").html('<iframe src="' + link + '" width="625" height="390" frameborder="0" allowfullscreen></iframe>');
        }
    });
</script>