body{
    background-color: white;
}
h1{
    color: #13a3a8;
}

p{
    color: red;
}

.exemplo-back{
    height: 300px;
    background: gray url("../img/fundo.jpg") no-repeat center; /*simplificado, somente a propiedade background-size é colocado separado*/
    background-size: cover; /*cover; => tenta encaixar o conteúdo. contains; 100% => passando o tamanho da img.*/
    /* background-color: gray;
    background-image: url("../img/fundo.jpg"); */
    /*background-repeat: no-repeat; /*repeat; no-repeat; repet-x; => repetir pra direita. repet-y; => repetir pra baixo.*/
    /*background-position: center; /*top; center; right; left;* para indicar a posição da img*/
}