body{
    background-color: white;
}
h1{
    color: white;
     /*Tipos de bordas mais usados: solid, dotted => bordas com pontinhos, dashed => bordas com tracinhos.*/
     /* border-left: 5px solid rgb(255,4,4);
     border-top: 5px solid rgb(4,255,66);
     border-right: 5px solid rgb(42,4,255);
     border-bottom: 5px solid rgb(255,117,4); */
     border: 1px solid black;
     border-radius: 30px; /*Borda arredondada: Porcentagem ou valor fixo em pixels*/
     text-align: center;
     background: black;
}

p{
    color: red;
}

.exemplo-back{
    height: 300px;
    background: gray url("../img/background.jpg") no-repeat center; /*simplificado, somente a propiedade background-size é colocado separado*/
    background-size: cover; /*cover; => tenta encaixar o conteúdo. contains; 100% => passando o tamanho da img.*/
    /* background-color: gray;
    background-image: url("../img/fundo.jpg"); */
    /*background-repeat: no-repeat; /*repeat; no-repeat; repet-x; => repetir pra direita. repet-y; => repetir pra baixo.*/
    /*background-position: center; /*top; center; right; left;* para indicar a posição da img*/
}